<template>
  <lightning-record-edit-form
    record-id={recordId}
    object-api-name="Lead"
    onsuccess={handleOnSuccess}
  >
    <lightning-messages> </lightning-messages>
    <lightning-input-field field-name="FirstName"> </lightning-input-field>
    <lightning-input-field field-name="LastName"> </lightning-input-field>
    <lightning-input-field field-name="Phone"> </lightning-input-field>
    <lightning-input-field field-name="Email"> </lightning-input-field><br />
      <lightning-button
        class="slds-m-top_small slds-align_absolute-center"
        variant="brand"
        type="submit"
        name="update"
        label="Update"
      >
      </lightning-button><br/>
  </lightning-record-edit-form>
</template>
