<template>
  <lightning-card title="Lead Search Result">
    <template if:true={leads}>
      <lightning-datatable
        key-field="id"
        data={data}
        columns={columns}
        hide-checkbox-column="true"
        onrowaction={handleRowActions}
      >
      </lightning-datatable>
    </template>
    <template if:true={bShowModal}>
      <section
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open"
      >
        <div class="slds-modal__container">
          <!-- modal header -->
          <header class="slds-modal__header">
            <button
              class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
              title="Close"
              onclick={closeModal}
            >
              <lightning-icon
                icon-name="utility:close"
                alternative-text="close"
                variant="inverse"
                size="small"
              ></lightning-icon>
            </button>

            <h2
              id="modal-heading-02"
              class="slds-text-heading_medium slds-hyphenate"
              if:true={isEditForm}
            >
              Update Lead
            </h2>
          </header>
          <!-- modal body -->
          <!-- showing record edit form -->
          <div if:true={isEditForm} class="slds-theme_default">
            <c-update-lead
              record-id={currentRecordId}
              onclose={handleChildClose}
            >
            </c-update-lead>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
  </lightning-card>
</template>
