<template>
  <lightning-card title="Lead Search">
    <p class="slds-p-horizontal_small">
      <template if:true={availableStatus.data}>
        <lightning-combobox
          name="status"
          label="Lead Status"
          value={selectedStatus}
          placeholder="-Select-"
          options={availableStatus.data.values}
          onchange={handleChange}
        >
        </lightning-combobox> </template
      ><br />
      <template if:true={availableSource.data}>
        <lightning-combobox
          name="source"
          label="Lead Source"
          value={selectedSource}
          placeholder="-Select-"
          options={availableSource.data.values}
          onchange={handleChange}
        >
        </lightning-combobox> </template
      ><br />
      <lightning-button
        label="Search"
        slot="actions"
        variant="brand"
        onclick={handleSearch}
      ></lightning-button>
    </p>
  </lightning-card>
</template>
